@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap");

.container {
  max-width: 140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  // border: 1px solid blue;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
