// sass -w assets/sass/style.scss:assets/css/style.css
$zero: #000000;
$zerozero:#003B73;
$zeroone:#011120;
$oneB:#1B9665;
$oneone: #117FE3;
$twoA: #2A5E8D;
$twoC: #2C333D;
$threeB: #3B3C3F;
$fourE:#4E5760;
$fiveB: #5B5B5C;
$Efive: #E52B0E;
$sixc: #6C6F71;
$sixB: #6B7076;
$eightF: #8F9296;
$eighteen: #186FD4;
$thirthnine:#393939;
$fourty:#404244;
$f: #ffffff;
$aeight:#A8ADB2;
$fourfour: #44474F;


