@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.first_header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #8F9296;
}

.first_navbar_left ul {
  display: flex;
  gap: 20px;
}

.first_navbar_left ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 13.93px;
  color: #6C6F71;
}

.first_navbar_left ul {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.first_navbar_left ul li a {
  position: relative;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.first_navbar_left ul li a:after {
  content: "";
  position: absolute;
  background-color: #6C6F71;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition: 0.4s;
}

.first_navbar_left ul li a:hover:after {
  width: 100%;
}

.first_navbar_right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.first_navbar_right a:first-child {
  font-size: 14px;
  font-weight: 400;
  line-height: 12.94px;
  color: #4E5760;
}

.first_navbar_right a {
  font-size: 16px;
  font-weight: 550;
  line-height: 15.81px;
  text-align: left;
  color: #000000;
}

.navbar_button {
  width: 134px;
  height: 32px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 700;
  line-height: 10px;
  color: #2A5E8D;
  background-color: #F2F6FC;
  border: none;
  transition: 0.3s;
}

.navbar_button:hover {
  border: 1px solid #2A5E8D;
}

@media (min-width: 1380px) {
  .menu, .logout {
    display: none;
  }
  .label {
    display: none;
  }
}
@media (max-width: 1380px) {
  .menu {
    display: inline-block;
  }
  .links {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    background-color: aliceblue;
    height: 100vh;
    flex-direction: column;
    transition: 0.6s linear;
    z-index: 999;
  }
  #check:checked ~ .links {
    left: 0;
  }
}
@media (max-width: 610px) {
  .first_navbar_right :first-child {
    display: none;
  }
}
@media (max-width: 400px) {
  .first_navbar_right :nth-child(2) {
    display: none;
  }
}
.checkbox {
  display: none;
}

.second_header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.catalog {
  width: 154px;
  height: 52px;
  border-radius: 8px;
  background-color: #186FD4;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  border: none;
  transition: 0.5s linear;
}

.catalog:hover {
  color: #186FD4;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  border: 3px solid #186FD4;
}

.form2 {
  width: 200%;
  height: 46px;
  padding: 0 8px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid blue;
  background-color: #186FD4;
  border-radius: 10px;
}

.form2 input {
  width: 100%;
  height: 40px;
  padding: 16px 15px;
  border-radius: 6px;
  background-color: #ffffff;
  border: transparent;
  outline: none;
}

.inside_divv {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.inside_divv h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 8px;
  text-align: center;
  color: #6B7076;
}

.second_wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  text-align: center;
}

.first_wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

@media (max-width: 1430px) {
  .second_wrapper {
    display: none;
  }
}
@media (max-width: 980px) {
  .first_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
  .catalog {
    padding: 20px 0;
    border-radius: 8px;
    background-color: #186FD4;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    border: none;
    transition: 0.5s linear;
  }
  .inside_div_img {
    width: 50%;
  }
  .form2 {
    width: 200%;
    height: 46px;
    padding: 0 8px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid blue;
    background-color: #186FD4;
    border-radius: 10px;
  }
  .form2 input {
    width: 100%;
    height: 40px;
    padding: 16px 15px;
    border-radius: 6px;
    background-color: #ffffff;
    border: transparent;
    outline: none;
  }
  .catalog {
    display: none;
  }
}
@media (max-width: 800px) {
  .inside_div_img .img_a img {
    width: 100%;
  }
  .inside_div_img {
    width: 40%;
  }
  .form2 {
    width: 150%;
  }
}
@media (max-width: 700px) {
  .inside_div_img .img_a img {
    width: 80%;
  }
  .inside_div_img {
    width: 40%;
  }
  .form2 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .inside_div_img .img_a img {
    width: 100%;
  }
  .inside_div_img {
    width: 50%;
  }
  .form2 {
    width: 100%;
  }
  .first_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}
@media (max-width: 400px) {
  .inside_div_img .img_a img {
    width: 100%;
  }
  .inside_div_img {
    width: 60%;
  }
  .form2 {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .inside_divform {
    display: none;
  }
}
.showcase_title {
  background-image: url(../../img/showcase.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 10px 0;
  padding: 30px;
}

.showcase_title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.showcase_title h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: #2C333D;
  width: 50%;
}

.showcase_title h3 {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #2C333D;
  width: 40%;
}

.showcase_title button {
  width: 252px;
  height: 62px;
  padding: 14px 17px;
  gap: 17px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #fff;
  background-color: #011120;
  transition: 0.3s;
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  outline: none;
}

.showcase_title button:hover {
  padding: 14px 17px;
  gap: 17px;
  border-radius: 8px;
  color: #ffffff;
  background-color: transparent;
  outline: none;
  color: #011120;
}

.showcase > div {
  align-items: center;
  display: flex;
}

@media (max-width: 700px) {
  .showcase_title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    align-items: center;
  }
  .showcase_title h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    color: #2C333D;
    width: 80%;
  }
  .showcase_title h3 {
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #2C333D;
    width: 75%;
  }
}
@media (max-width: 600px) {
  .showcase_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    align-items: center;
  }
  .showcase_title h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    color: #2C333D;
    width: 100%;
  }
  .showcase_title h3 {
    display: none;
  }
}
@media (max-width: 500px) {
  .showcase_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    align-items: center;
  }
  .showcase_title h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    color: #2C333D;
    width: 100%;
  }
  .showcase_title button {
    width: 192px;
    height: 62px;
    left: 0px;
    padding: 14px 17px;
    gap: 0px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #fff;
    background-color: #011120;
  }
  .showcase_title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 410px) {
  .showcase_title h1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    color: #2C333D;
    width: 100%;
  }
  .showcase_title button {
    padding: 24px 27px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #fff;
    background-color: #011120;
  }
}
@media (max-width: 343px) {
  .showcase_title h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    color: #2C333D;
    width: 100%;
  }
  .showcase_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }
  .showcase_title button {
    padding: 24px 27px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #fff;
    background-color: #011120;
  }
}
.bottom_of_showcase {
  margin-top: 50px;
  margin-bottom: 50px;
}

.showcase_bottom_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.showcase_bottom {
  display: flex;
  gap: 10px;
  align-items: center;
}

.showcase_bottom {
  font-size: 12px;
  font-weight: 550;
  line-height: 19px;
  text-align: center;
  color: #3B3C3F;
}

.second_swipers {
  margin-top: 50px;
  margin-bottom: 50px;
}

.sh_card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  background-color: rgb(243, 244, 245);
  border-radius: 6px;
  padding: 15px;
  width: 185px;
  height: 157px;
}

.sh_card h3 {
  font-size: 15px;
  font-weight: 550;
  line-height: 19px;
  text-align: center;
  color: #3B3C3F;
}

.discount {
  margin-top: 50px;
  margin-bottom: 50px;
}

.discount_cards {
  align-items: center;
}

.discount_card h2,
.discount_card2 h2,
.discount_card3 h2,
.discount_card4 h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  color: #2C333D;
  width: 40%;
}

.discount_button {
  width: 73px;
  outline: none;
  height: 31px;
  padding: 6px 8px;
  border-radius: 6px;
  background-color: #011120;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  transition: 0.3s linear;
}

.discount_button:hover {
  color: #011120;
  background-color: #ffffff;
}

.discount_card {
  background: url(../../img/d1.png);
  width: 330px;
  height: 170px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.discount_card2 {
  background: url(../../img/d2.png);
  width: 330px;
  height: 170px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.discount_card3 {
  background: url(../../img/d3.png);
  width: 330px;
  height: 170px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.discount_card4 {
  background: url(../../img/d4.png);
  width: 330px;
  height: 170px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 400px) {
  .discount_card,
  .discount_card2,
  .discount_card3,
  .discount_card4 {
    width: 280px;
  }
}
.best {
  margin-top: 50px;
  margin-bottom: 50px;
}

.best_title {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 47px;
}

.title2 {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.title1 h2 {
  font-size: 33px;
  font-weight: 700;
  line-height: 31px;
  text-align: left;
  color: #2C333D;
}

.title2 h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 11px;
  color: #5B5B5C;
  transition: 0.3s;
  cursor: pointer;
}

.title2 h3:hover {
  font-size: 14px;
  font-weight: 600;
  line-height: 11px;
  color: #117FE3;
}

.best_card p {
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
  color: #A8ADB2;
}

.best_card h3 {
  font-size: 18px;
  font-weight: 550;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.b_inside1 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #8F9296;
  text-decoration: line-through;
}

.b_inside1 h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: #003B73;
  width: 90px;
}

.b_inside1 h4 {
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  text-align: left;
  width: 38px;
  height: 24px;
  padding: 8px 5px;
  border-radius: 4px;
  background-color: #1B9665;
  color: #ffffff;
}

.b_inside2_inside1 .b_inside2_button {
  width: 120px;
  height: 40px;
  padding: 7px 17px;
  border-radius: 6px;
  background-color: #186FD4;
  border: none;
  font-size: 15px;
  font-weight: 550;
  line-height: 22px;
  color: #ffffff;
  transition: 0.4s;
}

.b_inside2_inside1 .b_inside2_button:hover {
  color: #186FD4;
  border: 2px solid #186FD4;
  background-color: #ffffff;
}

.b_inside2 {
  display: flex;
  gap: 15px;
  align-items: center;
}

.b_inside1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.best_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  width: 308px;
  height: 428px;
  padding: 10px 15px;
}

.best_card:hover {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  width: 308px;
  height: 428px;
  padding: 10px 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 10px;
}

.swiper-wrapper {
  display: flex;
  gap: 40px;
}

@media (max-width: 593px) {
  .best_cards {
    display: none;
  }
}
.brands {
  margin-top: 50px;
  margin-bottom: 50px;
}

.brands_title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.brands_title h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  text-align: left;
  color: #2C333D;
}

.about {
  background-image: url(../../img/about.png);
  width: 100%;
  max-height: 1566px;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}

.about_wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.inside_wrappers {
  display: flex;
  gap: 62px;
  flex-wrap: wrap;
}

.about_wrapper h2 {
  font-size: 33px;
  font-weight: 700;
  line-height: 31px;
  text-align: left;
  color: #2C333D;
}

.about_wrapper h3 {
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: #2C333D;
  width: 66%;
}

.about_inside {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about_inside h3 {
  font-size: 26px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: #117FE3;
}

.about_inside p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #44474F;
  width: 70%;
}

.about_button {
  width: 252px;
  height: 62px;
  border-radius: 8px;
  background-color: #011120;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  transition: 0.3s;
}

.about_button:hover {
  color: #011120;
  background-color: #ffffff;
  border: 3px solid #011120;
  width: 252px;
  height: 62px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}

@media (max-width: 1000px) {
  .about {
    background-image: url(../../img/about.png);
    width: 100%;
    max-height: 1566px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .about {
    background: none;
  }
  .inside_wrappers {
    display: flex;
    gap: 42px;
    flex-wrap: wrap;
  }
  .about_inside p {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #44474F;
    width: 70%;
  }
  .about_wrapper h3 {
    width: 100%;
  }
}
.latest_news {
  margin-top: 50px;
  margin-bottom: 50px;
}

.news_title h2 {
  font-size: 33px;
  font-weight: 700;
  line-height: 31px;
  text-align: left;
  color: #2C333D;
  margin-top: 50px;
  margin-bottom: 50px;
}

.latest_text_wrapper h3 {
  font-size: 20px;
  font-weight: 550;
  line-height: 26px;
  text-align: left;
  color: #2C333D;
  width: 100%;
}

.latest_text_wrapper p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #393939;
  width: 100%;
}

.latest_text_wrapper h4 {
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #000000;
}

.latest_text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.latest_card img {
  width: 100%;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
